.win-split-view {
    height: 100%;
}

/*SplitView pane show button style*/
.win-splitview-button {
    background:url('images/hamburgerDark.png');
    display: inline-block;
    float:left;
    width: 48px;
    height: 48px;
    outline: none;
    border: 1px dotted transparent;
}


/* SplitView pane content style*/
.header {
	white-space: nowrap;
}

.title {
	font-size: 25px;
	left: 50px;
	margin-top: 6px;
	vertical-align: middle;
	display: inline-block;
}

.nav-commands {
    margin-top: 20px;
}

.win-navbarcommand-button {
    background-color: transparent;
}

.win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

.win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

/*SplitView content style*/
.win-splitview-content {
	background-color: rgb(112,112,112);
}

.contenttext {
	margin-left: 20px;
	margin-top: 6px;
}


